ul.nav li.dropdown:hover ul.dropdown-menu { display: block; }
h1 a{ display: inline-block; background: url('../img/150.png') no-repeat; height: 65px; padding: 20px 0 0 90px; color: black; background-size: contain; }
h1 a:hover { text-decoration: none; color: black; }
h2 a { color: black; }

h1, h2, h3 { font-family: georgia, serif; }
p.pubdate { font-style: italic; font-size: 0.9em; }

.sidebar h3 { font-size: 1em; line-height: 1.2em; margin-bottom: 0; }
.sidebar ul { margin-left: 0; list-style-type: none; }